body {
    padding: 2rem;
    font-family: $font-main;
}

.main {
    &__wrapper {
        margin-top: 20px;
        display: flex;
    }
    &__button {
        padding: 6px 8px;
        border: none;
        border-radius: 5px;
        color: $color-light;
        background-color: $color-dark;
        cursor: pointer;
        &--results {
            margin-top: 20px;
        }
    }
}

.results {
    &__title {
        &--favorites {
            color: $color-primary;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 235px;
        height: auto;
        margin-top: 20px;
        margin-right: 20px;
        border: 1px solid $color-secondary;
        border-radius: 5px;
        line-height: 0;
        cursor: pointer;
        &--favorite {
            border-color: $color-primary;
            background-color: $color-primary;
        }
    }
    &__image {
        width: 227px;
        height: 320px;
        margin: 3px;
        border-radius: 5px;
    }
    &__subtitle {
        padding: 10px;
        line-height: normal;
        margin-bottom: 2px;
    }
}

.favorites.results {
    margin-right: 40px;
    border: none;
    padding-left: 0;
}

.favorites .results {
    &__list {
        display: block;
    }
    &__item {
        cursor: default;
    }
    &__subtitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__subtitle .fas.fa-times-circle {
        padding: 1px 5px;
        font-size: 20px;
        cursor: pointer;
    }
}