.search {
    &__form {
        display: flex;
        column-gap: 10px;
        padding-bottom: 30px;
    }
    &__term {
        padding: 4px;
        border: 1px solid $color-secondary;
        border-radius: 5px;
    }
}